@media (max-width: 1365px) {
    .image-fly {
        width: 150px !important;
        height: 150px !important;
    }
}

@media (min-width: 1366px) {
    .image-fly {
        left: 0 !important;
        top: -35px !important;
        width: 148px !important;
        height: 100px !important;
        position: absolute !important;
    }
}
