@{
	ViewData["Modal"] = "الصلاحيات";
}
<!--begin::Modal - edit task-->
<div class="modal fade" id="kt_modal_edit" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header ribbon ribbon-start ribbon-clip" id="kt_modal_edit_header">
				<!--begin::Card title-->
				<div class="ribbon-label fs-4">
					@ViewData["Modal"]
					<span class="ribbon-inner bg-info"></span>
				</div>
				<div class="card-title">
					<div class="d-flex align-items-center position-relative my-1"></div>
				</div>
				<!--end::Card title-->
				<!--begin::Close-->
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<span class="svg-icon svg-icon-1">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
				</div>
				<!--end::Close-->
			</div>
			<!--end::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-15 my-2">
				<!--begin::Scroll-->
				<div class="d-flex flex-center text-center scroll-y me-n7 pe-7" id="kt_modal_edit_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_edit_header" data-kt-scroll-wrappers="#kt_modal_edit_scroll" data-kt-scroll-offset="300px">
					<!--begin::Input group-->
					<div class="row mb-2">
						<!--begin::Title-->
						<h1 class="fw-bolder fs-2hx text-gray-900 mb-4">خطأ !</h1>
						<!--end::Title-->
						<!--begin::Text-->
						<div class="fw-semibold fs-6 text-gray-500 mb-7">من فضلك تأكد من وجود صلاحية لفتح هذة النافذة</div>
						<!--end::Text-->
						<!--begin::Illustration-->
						<div class="mb-3">
							<img src="/401-error.png" class="mw-50 mh-150px theme-light-show" alt="" />
							<img src="/401-error-dark.png" class="mw-50 mh-150px theme-dark-show" alt="" />
						</div>
						<!--end::Illustration-->
						<!--begin::Link-->
						<div class="mb-0">
							<a href="/Home" class="btn btn-sm btn-primary">الصفحة الرئيسية</a>
						</div>
						<!--end::Link-->
					</div>
					<!--end::Input group-->
				</div>
				<!--end::Scroll-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - edit task-->
